@page
@model FirstProject.Pages.Admin.RemoveModel
@{
}

<h1>حذف کالا</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <dl class="dl-horizontal">
        <dd><label asp-for="Product.Name"></label></dd>
        <dt>
            <input asp-for="Product.Name" class="form-control" readonly="readonly"/>
           
        </dt>
        <dd><label asp-for="Product.Discreption"></label></dd>
        <dt>
            <textarea asp-for="Product.Discreption" class="form-control" readonly="readonly"></textarea>
     
        </dt>
        <dd><label asp-for="Product.Price"></label></dd>
        <dt>
            <input asp-for="Product.Price" class="form-control" readonly="readonly"/>
      
        </dt>
        <dd><label asp-for="Product.Quintityinstock"></label></dd>
        <dt>
            <input asp-for="Product.Quintityinstock" class="form-control" readonly="readonly"/>
     
        </dt>
        <dd><label >تصویر</label></dd>
        <dt>
            <img src="/images/@(Model.Product.Id).jpg" style="max-width: 200px"/>
        </dt>
       
        <dd></dd>
        <dt>
            <input type="submit" class="btn btn-danger" value="حذف"/>
        </dt>
    </dl>
</form>

