@model IEnumerable<Product>
@{
    ViewData["Title"] = @ViewData["CategoryName"];
}

<div class="text-center">
    <h1 class="display-4">محصولات گروه @ViewData["CategoryName"]</h1>
    <hr/>
    <div class="row">
        @foreach(var item in Model)
        {
            <partial name="_BoxProduct" model="@item"/>
        }
    </div>

</div>