@using FirstProject.Data.Repositories
@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@inject IGroupRepository _groupRepository

@{
    ViewData["Title"] = "header";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">فروشگاه من</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">خانه</a>
            </li>
            @foreach (var item in _groupRepository.getAllCategories())
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Product" asp-action="ShowProductsinCategory" asp-route-id="@item.Id">@item.Name</a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">تماس با ما</a>
            </li>
            
            @if (User.Identity.IsAuthenticated)
            {
                
                <li class="nav-item" style="position: absolute; left: 7%">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">@User.Identity.Name</a>
                </li>
                <li class="nav-item" style="position: absolute; left: 2%">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">خروج</a>
                </li>
            }
            else
            {
                <li class="nav-item" style="position: absolute; left: 5%">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Rigester">ثبت نام</a>
                </li>
                <li class="nav-item" style="position: absolute; left: 1%">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">ورود</a>
                </li>
            }


        </ul>
    </div>
</nav>